body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background-color: rgb(4, 115, 78);
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

#arceus {
    justify-content: center;
}

main {
    padding: 20px;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
}

#pokeball-container {
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 300px;
    margin: 5px;
}